<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <receiver
            android:name=".debug.DebugCommandReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="one.next.player.debug.SET_IGNORE_NOMEDIA" />
                <action android:name="one.next.player.debug.SET_LONG_PRESS_CONTROLS" />
                <action android:name="one.next.player.debug.SET_LONG_PRESS_OVERLAY" />
                <action android:name="one.next.player.debug.REFRESH_LIBRARY" />
                <action android:name="one.next.player.debug.ADD_REMOTE_SERVER" />
                <action android:name="one.next.player.debug.DELETE_REMOTE_SERVER" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
